<section id="about">
	<h1>Custom Jeweler</h1>
	<img class="hero" src="/images/ring.png">
	<p>Jewelry is a personal statement and reflection of your own personality. Your style and grace is reflected in your own unique design.</p>
	<p>Custom jewelry may entail re-working an heirloom piece that holads a deep significance for you, or it may be the design of a new piece of jewelry to your specifications.</p>
	<p>Come by the Rhyans Design Studio for your free consultation.</p>
	<h2 class="padtop2">Capture your moment.</h2>
	<h2>Keep it for a lifetime.</h2>
</section>
<footer ng-include="'/templates/footer.html'"></footer>