<section id="overlay_menu">
	<a ui-sref="services.index" class="icon icon-services servicesBtn bigBtn">Services</a>
	<a ui-sref="services.custom" class="icon icon-arrow customBtn submenu">Custom Jewelry</a>
	<a ui-sref="services.repairs" class="icon icon-arrow repairsBtn submenu">Repairs</a>
	<a ui-sref="services.redesign" class="icon icon-arrow redesignBtn submenu">Redesign</a>
	<a ui-sref="about" class="icon icon-about aboutBtn bigBtn">About Us</a>
</section>
<div class="footer_section mobile_menu_footer">
	<div class="footer_left float_left">
	<a href="https://www.google.com/maps/place/Rhyans+Design+Studio/@33.9767389,-84.479676,17z/data=!4m2!3m1!1s0x0:0xeadf077ad3fd7bb7">
		<div class="icon icon-map float_left"></div>
		1050 East Piedmont<br />Marietta, GA 30062
	</a>
	</div>
	<div class="footer_right float_right">
		<a href="tel://6785605718">
			<div class="icon icon-phone float_left"></div>
			(678) 560-5718
		</a>
	</div>
</div>