<h1>Services</h1>
<img class="hero" src="images/ring.png">
<p>We create and carry a wide array of unique, quality jewelry pieces. Our selection and ability to personalize any piece sets Rhyans Design Studio apart from the typical retail jewelry store.</p>
<p>Custom jewelry is beautiful, unique and affordable, and our design experience allows you to create a special piece, tailored to your budget. We love being part ofyour special moments and helping you through the creative process.</p>
<p>Come by the Rhyans Design Studio for your free consultation.</p>
<h2 class="padtop2">Capture your moment.</h2>
<h2>Keep it for a lifetime.</h2>
<footer ng-include="'templates/footer.html'"></footer>